<tr>
      <h2 class="gridtable text-center">Backlog</h2>
    </tr>
    
    
    <tr>
      <th>Thing to do</th>
      <th>Status</th>
      <th>How old?</th>
      <th>Changes?</th>
      <th>Update</th>
      <th>Remove</th>
      <th colspan="6"></th>
    </tr>